* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

.logo {
    max-width: fit-content;
    margin: 40px auto ;
    
}

.logo img {
    border-style: solid;
    padding-top: 5px;
    border-radius: 10px;
}


.navbar {
    text-align: center;
    background-color: gray;
    margin: 0 100px;
    border-radius: 5px;
    
 
}


.navbar li{
    display: inline-block;
    padding: 10px;

}

.navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000;
}


.navbar .homebutton {
    float: left;
    transform: translateX(-60%);

}



